body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:lightsteelblue;
    font-size: 15px;
}
button{
    background-color: burlywood;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}


.s1{
    
    width:400px;
    color:lightcoral;
    border:1px solid coral;
}